.header {
  background: #fff;

  &__container {
    background: #fff;
    display: flex;
    flex-direction: row;
  }

  &__logo-img {
    width: 300px;
    height: 100px;
  }

  &__nav {
    width: 100%;
    box-sizing: border-box;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-around;
    height: 100px;
  }

  &__nav-item {
    padding-top: 30px;
  }

  &__nav-item-wrapper {
  }

  &__nav-link {
    text-decoration: none;
    color: #2b573d;
    font-family: "Hammersmith";
    font-size: 1.3rem;
  }

  &__user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
