@font-face {
  font-family: "Cutive";
  font-weight: normal;
  font-size: normal;
  src: url("../../assets/Fonts/CutiveMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Hammersmith";
  font-weight: normal;
  font-size: normal;
  src: url("../../assets/Fonts/HammersmithOne-Regular.ttf") format("truetype");
}
