@use "../../styles/partials/typography" as *;

.search-bar {
  width: 100%;
  box-sizing: border-box;
  background: #e9eadb;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0px;
    color: #3f7254;
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    font-family: "Hammersmith";
  }

  &__input-wrapper {
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 10px #9d983b;
    display: flex;
    align-items: center;
    margin: auto;
  }

  &__input {
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 390px center;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
  }

  &__button {
    background-color: #2b573d;
    border: none;
    box-shadow: 0px 0px 10px #102017;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Hammersmith";
    font-size: 1.5rem;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 20px auto;

    &:hover {
      background-color: #8b944a;
      color: #eceff2;
    }

    &:active {
      background-color: #717939;
      color: #f6f4ef;
    }
  }
}

.bird-list {
  &__item {
  }
}

.bird-info {
  width: 100%;
  box-sizing: border-box;

  &__name {
  }

  &__sci-name {
  }

  &__status {
  }

  &__region {
  }

  &__region-item {
  }

  &__images {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__image {
    width: 250px;
    height: 150px;
  }
}

* {
  outline: 1px solid red;
}
